body {
    background-color: rgb(255, 232, 194);
}

.title-site {
    margin-top: 20px;
}

.title-site img {
    margin-top: 20px;
}

.form-authorization {
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-registration {
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group a {
    font-size: 10px;
}

.form-control {
    width: 300px;
}

.form-control:hover {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 0.2rem rgba(160, 160, 160, 0.61);
}

.form-control:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.61);
}

.left-half {
    border-right: 1px solid black;
    box-shadow: 0 0 2rem 0 rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(252, 188, 85);
}

.menu-top {
    flex: 1;
    padding: 10px;
}

.menu-bottom {
    display: flex;
    background-color: #f8f9fa00;
    align-items: flex-end;
}

.menu-bottom .row {
    width: 100%;
    align-items: flex-end;
}

.menu-bottom .col-4 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 16px;
}

.menu-bottom .col-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bottom a:hover {
    color: #1a05a2a4;
}

.row {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1a05a2a4;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 0;
}

footer .container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.task-item {
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #ffffff;
}

.task-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.543);
    border-color: #000000;
}

.task-status .badge {
    font-size: 0.75em;
}

.modal-content {
    background-color: rgb(255, 232, 194);
    border: 2px solid black;
}

.form-check-input {
    transform: scale(1.2);
}

.form-check-input:checked+.card-title {
    text-decoration: line-through;
    opacity: 0.7;
}

.right-half {
    padding: 20px;
    background-color: rgb(255, 232, 194);
    min-height: 100vh;
}

.form-check-input {
    transform: scale(1.2);
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

.form-check-input:focus {
    border-color: #000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}